.container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding-top: 20px;
}
#imageDisplay {
    width: 300px; /* 调整为适合的大小 */
    height: 300px; /* 调整为适合的大小 */
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#imageDisplay img {
    max-width: 100%;
    max-height: 100%;
}
.button {
    display: block;
    margin: 10px auto;
    padding: 5px 20px;
}
#textOutput {
    width: 300px; /* 与图片显示框相同的宽度 */
    height: 300px; /* 与图片显示框相同的高度 */
    background-color: #f3f3f3;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}